@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* shared style  */
.display-flex{
    display: flex;
}
.bg-clr-primary{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;



}
/* Font color  */
.dark-01{
    color: #131313;
}
.dark-02{
    color: #424242;
}
.dark-03{
    color: #727272;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
/* header section */
.header{
  
}
/* navbar releted style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.5rem;
}
.nav-item{
    list-style: none;
    margin-right: 20px;
}
.nav-item> .link{
    text-decoration: none;
    font-weight: 500;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner releted style  */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner img{
    border-radius: 10px;
    width: 100%;
}

/* team and feature */
.teams{
    align-items: center;
}
.team-img-container{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 24px;

}
.our-features{
    margin-left: 73px;
    max-width: 530px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}
.our-features > .feature-title > .orange{
    color: #FF900E;
}
.our-features > .feature-description{
    margin-bottom: 30px;
}
/* features you will enjoy  */


/* .features > .section-title{
    border-left: 5px solid #FF900E;
} */
.features{
    gap: 100px;
}
#fff{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
   
}
#experience-badge{
    padding: 45px 42px ;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -80px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}






/* fact section */
.fact-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.fact-description{
    max-width: 542px;
}

.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 40px;
}
.fact-container > .fact{
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #FF900E;
    justify-items: center;
    align-items: center;
    padding: 40px;
    border-radius: 8px;
}
.fact-container > .fact > .fact-number{
    font-size: 2.8rem;
    margin: 10px;

}
.fact-container > .fact > .fact-name{
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 25px;
}

/* sponsor section styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-info > .sponsor-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.Sponsor-companies{
    filter: grayscale(100);
    display: grid;
    grid-template-columns: repeat(5,1fr);
}


/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams, 
    .features{
        flex-direction: column;
    }
    .team-img-container, 
    .Sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .fact-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        /* justify-content: center; */
        justify-items: center;
        
    }
    .Sponsor-companies{
        gap: 10px;
        justify-items: center;
    }
    .featured-architect img{
        width: 100%;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
   
   
}